*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
ul li{
    font-family: 'Poppins', sans-serif;
}
p{
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
.header_scrolled {
    background: #fff;
    transition: all ease-in-out .5s ;
}
.header_scrolled a{
    color: #000;
}
/* Intro starts here */
#Intro{
    background: url('../img/bg.gif')no-repeat center;
    background-color: rgb(25, 54, 100);
    background-blend-mode: overlay;
    background-size: cover;
}
#Intro .intro-title{
    padding-top: 14rem;
    font-family: 'Raleway',sans-serif;
    color: #fff;
}
#Intro .intro-title p{
    font-size: 25px;
    text-align: center;
}
#Intro .intro-title h2{
    font-size: 55px;
    font-weight: bold;
}
@media (max-width: 700px){
    #Intro .intro-title h2{
        font-size: 40px;
        font-weight:bold;
    }
}
#Intro .intro-title h4{
    font-size: 40px;
}
#Intro .intro-title .social-links {
    font-size: 30px;
    cursor: pointer;
}
#Intro .intro-title .continue i{
    padding-top: 85px;
    animation: fadebounce 2s infinite;
}
@keyframes fadeInUp {
    0%{
        opacity: 0;
        transform: translateY(140px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes bounce{
    0%,
    20%,
    50%,
    80%,
    100%{
        opacity: 0;
        transform: translateY(-20px);
    }
    40%{
        opacity: 1;
        transform: translateY(0);
    }
}
/* Intro section ends here */


/* About Section */
.about{
    padding-bottom: 40px;
}
.about-title{
    text-align: center;
}
.about-title h2{
    font-weight: bold;
    font-size: 35px;
    padding-top: 3rem;
}
.about .about-text p{
    color: #000;
    padding-top: 2rem;
    padding: 0 1rem 0 1rem;
}
/* about ends here */


/* skills */
.skill {
    background: url('../img/bg.gif')no-repeat top;
    background-size: cover;
    background-color: rgb(15, 43, 88);
    background-blend-mode: overlay;
    padding-top: 40px;
}
.skill .skill-content{
    box-shadow: 5px 1px 1px 1px rgb(139, 139, 139);
    transition: all .3s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
}
.skill .skill-content:hover{
    transform: scale(105%);
}
.skill img{
    width: 150px;
    height: auto;
}
#contact .info-box{
    background: url('../img/bg.gif');
    background-color: rgb(25, 54, 100);
    background-blend-mode: overlay;
    background-size: cover;
    color: #fff;
    opacity: 50;
    padding: 2rem;
    width: 100%;
    z-index: 1;
}
.info-box .icons {
    border: none;
    margin-left: 2rem;
    font-size: 23px;
}